body{
	margin: 0;
	padding: 0;
}
body::-webkit-scrollbar {/*滚动条整体样式*/
        width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
    }
body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 10px;
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: #535353;
    }
body::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: #EDEDED;
    }
.bg{
	width: 100%;
	height: 100%;
}
.bg .left{
	height: 100%;
	width: 100%;
	background: #0F0F0F;
	position: fixed; 
　　left:0; 
	float: left;
	z-index: 100;
}
.bg .center{
	height: auto;
	width: 85%;
	float: right;
}
.bg .left .external {
	height: 70%;
	width: 100%;
	display: block;
	text-align: center;
	display: none;
	opacity: 0;
}
.bg .left .external .icon .img{
	margin-left: -54px;
	margin-top: 35px;
	user-select:none;
	cursor: pointer;
}
.bg .left .external .navigation{
	height: 71%;
	width: 100%;
}
.dh{
	margin-top: 35px;
}
.dha{
	width: 100%;
	height: 76px;
	display: block;
	float: left;
	user-select:none;
}
.sign{
	width: 50px;
	height: 50px;
	float: left;
	margin-top: 30px;
	margin-left: 55px;
	overflow: hidden;
}
.text{
	display: inline-block;
	padding: 34px 25px 20px 15px;
	float: left;
	font-family: Karla, sans-serif;
	font-weight: 700;
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 8px;
	color: white;
}
.buttom{
	width: 100%;
	height: 207px;
	float: left;
}
.buttom_text{
	width: 100%;
	height: 61px;
	padding-top: 55px;
	user-select:none;
}
.buttom_a{
	font-family: Karla, sans-serif;
	font-weight: 700;
	text-decoration: none;
	font-size: 33px;
	margin-left: 8px;
	margin-right: 25px;
	color: #3C3C3C;
}
.buttom_title{
	width: 100%;
	height: 61px;
	color: #3C3C3C;
	word-break:break-all;
}
.fa{
	color: white ;
	font-size: 30px !important;
}
.center_play{
	width: 100%;
	height: 619px;
	background: #E1C580;
	z-index: 0;
	cursor: pointer;
}
video{
	object-fit:fill;
	width: 100%;
	height: 100%;
}
.pho{
	width:100%;
	height:100%;
}
.center_play_mask_top{
	width: 85%;
	height: 619px;
	background: #342C29;
	position: absolute;
	top: 0;
	left: 15%;
	opacity: .8;
	text-align: center;
}
.center_play_mask_two{
	width: 42%;
	height: 619px;
	background: #342C29;
	position: absolute;
	top: 619px;
	opacity: .8;
	text-align: center;
}
.center_play_mask_three{
	width: 43%;
	height: 619px;
	background: #342C29;
	position: absolute;
	top: 1238px;
	right: 0;
	opacity: .8;
	text-align: center;
}
.center_play_mask_buttom{
	width: 85%;
	height: 619px;
	background: #342C29;
	position: absolute;
	top: 1857px;
	left: 15%;
	opacity: .8;
	text-align: center;
}
.inner{
	width: 100%;
	height: 300px;
	margin-top: 180px;
	transition:all 0.5s linear;
}
.inner_plus{
	width: 48px;
	height: 48px;
	position: relative;
	top: 60px;
	opacity: 0;
	transition: all 0.5s ease-in;
}
.inner_text{
	font-family: 'Playfair Display', sans-serif;
	color: #fff;
	font-size: 48px;
	margin-top: 15px;
	letter-spacing: 10px;
	user-select:none;
}
.inner_text_fg{
	height: 1px;
	width: 200px;
	opacity: 0;
	margin: 25px auto 25px;
	background-color: #fff;
	transition:all 0.5s linear;
}
.inner_text_bottom{
	font-family: Karla, sans-serif;
	color: #e1c580;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 6px;
	user-select:none;
}