.buttom_a:hover {
	color: #E1C580;
}

.dha:hover {
	transform-style: fa;
	transition: transform;
	transform: translateX(0px) translateY(-20px) translateZ(0px) scale(1.2);
}

.dha:link {
	color: white;
	transition: all 0.5s linear;
}

.center_play:hover .inner {
	margin-top: 160px;
}

.center_play:hover .inner_plus {
	top: 0;
	opacity: 1;
}

.center_play:hover .inner_text_fg {
	width: 400px;
	opacity: 1;

}

.three,
.four,
.five {
	opacity: 0;
	margin-top: 70px;
}
